@charset "UTF-8";

@font-face {
  font-family: "ArialMT";
  font-display: swap;
  src: url("../fonts/arial.woff") format("woff"), url("../fonts/arial.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Arial-BoldMT";
  font-display: swap;
  src: url("../fonts/arialbd.woff") format("woff"), url("../fonts/arialbd.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LucidaSans";
  font-display: swap;
  src: url("../fonts/LSANS.woff") format("woff"), url("../fonts/LSANS.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MS Sans Serif";
  font-display: swap;
  src: url("../fonts/ARLRDBD.woff") format("woff"), url("../fonts/ARLRDBD.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MicrosoftNewTaiLue";
  font-display: swap;
  src: url("../fonts/Microsoft Sans Serif Regular.woff") format("woff"), url("../fonts/Microsoft Sans Serif Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body.lock {
  overflow: hidden;
}

body {
  font-family: "ArialMT";
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #4e85a7;
  z-index: 7;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__img {
  position: relative;
  top: 20px;
  right: 30px;
}

.header__logo {
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
  line-height: 21px;
}

.header__logo p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.header__phone {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  position: relative;
  top: 5px;
}

.header__phone:hover {
  text-decoration: underline;
}

._container {
  max-width: 960px;
  margin: 0px auto;
  padding: 0px 15px 0px 40px;
}

.menu__conteiner {
  width: 100%;
  background-color: #dedede;
  margin: 20px 0px 0px 0px;
  padding: 15px;
}

.menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 915px;
  margin: 0 auto;
}

.menu__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  margin: 0px 45px 0px 0px;
}

.menu__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.menu__link {
  color: #3a5362;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.menu__link:hover {
  color: #4e85a7;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.register-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register-menu__in {
  color: #3a5362;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  padding: 0px 10px 0px 0px;
}

.register-menu__in:hover,
.register-menu__reg:hover {
  color: #4e85a7;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.register-menu__reg {
  color: #3a5362;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  padding: 0px 0px 0px 10px;
}

/*Бургер*/

/*Popup*/

.popup {
  z-index: 8;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup__content {
  background-color: #fff;
  color: #000;
  max-width: 800px;
  padding: 30px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

.popup__title,
.popup__text {
  line-height: 34px;
  color: black;
  text-align: center;
  font-size: 40px;
  margin: 0px 0px 20px 0px;
  text-decoration: none;
}

.popup__text {
  font-size: 20px;
}

.popup__text button {
  font-size: 50px;
  font-weight: 500;
  background-color: #4e85a7;
  margin: 20px 0px 0px 0px;
  border-radius: 10px;
  width: 250px;
  height: 75px;
}

.block {
  margin: 163px 0px 0px 0px;
  background-color: #4b83a5;
  padding: 0px 0px 15px 0px;
}

.block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block__slider {
  min-width: 0;
}

.container__b {
  max-width: 950px;
  margin: 0 auto;
}

.slider-block {
  max-width: 490px;
  margin: 40px 0px 0px 0px;
}

.slider__item {
  padding: 0px 15px;
}

.slider__item img {
  max-width: 100%;
}

.slider__info {
  background-color: #1a425a;
  padding: 5px 10px 5px 10px;
}

.slider__info p {
  color: #ffffff;
  font-size: 14px;
  line-height: 34px;
}

.slider__title {
  color: #ffffff;
  font-size: 20px;
  line-height: 34px;
}

.slider__more {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-top: 6px solid #4b83a5;
  border-right: 6px solid #4b83a5;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: relative;
  left: 50%;
  margin: 5px 0px 10px -12.5px;
}

.up {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.slider__info__m {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.visible {
  visibility: visible;
  opacity: 1;
  position: relative;
  top: 100%;
  -webkit-transition: all ease 1.2s;
  -o-transition: all ease 1.2s;
  transition: all ease 1.2s;
}

.visible p {
  color: #ffffff;
  font-size: 25px;
  line-height: 34px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.76);
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider-block .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-block .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.slider-block .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.slider-block .slick-dots li.slick-active button {
  background-color: #2c5f7f;
  border: 1px solid #fff;
}

.block__feedback {
  margin: 20px 0px 0px 0px;
}

.feedback__tabs {
  margin: 30px 5px 17px 0px;
}

.feedback__tab {
  color: #ffffff;
  font-family: "Arial-BoldMT";
  font-size: 22px;
  line-height: 21px;
  border: 1px solid #5293bc;
  border-radius: 30% 30% 0 0;
  background-color: #5293bc;
  padding: 15px 20px;
  margin: 0px 5px 0px 0px;
}

.choose__n {
  padding: 15px 20px;
  background-color: #5293bc;
  border: 1px solid #5293bc;
  border-radius: 30% 30% 0 0;
}

.feedback__content__h {
  visibility: hidden;
  opacity: 0;
}

.choose__q {
  background-color: #5293bc;
}

.choose {
  padding: 15px 40px;
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.choose__c {
  visibility: visible;
  opacity: 1;
  background: -webkit-linear-gradient(top, #5293bc, #4b83a5);
}

.choose__h {
  visibility: hidden;
  opacity: 0;
  height: 0;
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.feedback__container {
  margin: 0px 0px 0px 0px;
  background: -webkit-linear-gradient(top, #5293bc, #4b83a5);
  max-height: 309px;
}

.feedback__content,
.choose__c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback__content form,
.choose__c form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 340px;
  margin: 0px 40px;
}

.feedback__content p,
.choose__c p {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
}

.feedback__content p:nth-child(1),
.choose__c p:nth-child(1) {
  padding: 25px 0px 0px 0px;
}

.feedback__shell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.feedback__address {
  color: #347095;
  font-family: "MS Sans Serif";
  font-size: 17px;
  line-height: 21px;
  margin: 15px 0px 10px 0px;
  height: 44px;
  width: 340px;
  border: 3px solid #316e94;
  border-radius: 4px;
}

.feedback__check {
  margin: 0px 0px 20px 0px;
}

.feedback__select {
  color: #347095;
  font-family: "Lucida Sans";
  font-size: 14px;
  margin: 0px 0px 15px 0px;
  width: 204px;
  height: 32px;
}

.feedback__button {
  cursor: pointer;
  color: #ffffff;
  font-size: 22px;
  line-height: 21px;
  border: 3px solid #fff;
  background-color: #60a4ce;
  border-radius: 5px;
  padding: 10px 60px;
  margin: 15px 0px 0px 0px;
}

.info {
  background-color: rgba(205, 246, 241, 0.7);
}

.info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -10px;
}

.info__shell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3333%;
          flex: 1 1 33.3333%;
  margin: 0px 20px;
}

.info__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0px 15px 0px;
}

.info__block a:hover {
  color: #37639a;
  -webkit-transition: all ease 0.8s;
  -o-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.info__logo {
  color: #4484ad;
  font-size: 22px;
  line-height: 21px;
  margin: 0px 0px 0px 10px;
}

.info__text {
  color: #43515a;
  font-size: 13px;
  line-height: 22px;
  margin: 0px 0px 20px 0px;
}

.offers__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px -10px 30px -10px;
}

.offers__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 22%;
          flex: 0 1 22%;
  margin: 0px 10px 20px 10px;
}

.offers__item img {
  width: 100%;
}

.offers__shell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #4f8fb7;
  border: 1px solid #4f8fb7;
  border-radius: 0 0 2px 2px;
}

.offers__shell a:hover {
  color: #1a425a;
  -webkit-transition: all ease 0.6s;
  -o-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.offers__text {
  color: #ffffff;
  font-size: 15px;
  line-height: 19.31px;
}

.social {
  background-color: #5b90a7;
}

.social__shell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -10px;
}

.social__collumn {
  margin: 20px 25px;
}

.social__collumn form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
}

.social__collumn p {
  margin: 0px 0px 20px 0px;
}

.social__login {
  background-color: #79b0d3;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #ffffff;
  font-size: 24px;
  line-height: 21px;
  margin: 15px 15px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.social__site {
  width: 150px;
  height: 32px;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #4b7d9b;
  font-size: 16px;
  line-height: 21px;
  margin: 0px 15px 0px 0px;
}

.social__mailing {
  background-color: #79b0d3;
  color: #ffffff;
  font-size: 20px;
  line-height: 21px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 15px 0px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.social__mail {
  height: 32px;
  color: #4b7d9b;
  font-size: 16px;
  line-height: 21px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin: 0px 10px 0px 0px;
}

.social__shell__d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -5px;
}

.social__signup {
  margin: 15px 0px 15px -5px;
  color: #ffffff;
  font-size: 22px;
  line-height: 21px;
  background-color: #70a5c7;
  border: 1px solid #fff;
  border-radius: 3px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.social__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social__row p {
  margin: 0px 0px 0px 50px;
}

.social__button {
  cursor: pointer;
  color: #ffffff;
  font-size: 22px;
  line-height: 21px;
  background-color: #ff7915;
  padding: 15px 20px;
  border: 1px solid #fff;
  border-radius: 3px;
}

.social__media {
  margin: 0px 0px 0px 15px;
}

.feedback__button__h {
  cursor: pointer;
  width: 89px;
  height: 32px;
  border: 3px solid #d7d7d7;
  border-radius: 8px;
  background-color: #5599c2;
  color: #fff;
}

.footer {
  background-color: #4b7d9b;
  padding: 10px 0px 50px 0px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -5px;
}

.footer__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  padding: 0px 10px;
}

.footer__title {
  margin: 15px 0px 20px 0px;
  color: #ffffff;
  font-size: 16px;
}

.footer__title a {
  margin: 0px 0px 20px 0px;
  color: #ffffff;
  font-size: 16px;
}

.footer__link {
  opacity: 0.8;
  color: #ffffff;
  font-size: 13px;
  line-height: 22px;
}

.logo__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  width: 100%;
}

.logo {
  color: #ffffff;
  font-size: 17px;
  line-height: 12.99px;
  position: relative;
  top: 13px;
  right: 20px;
}

.copy {
  opacity: 0.8;
  color: #ffffff;
  font-size: 13px;
  margin: 15px 0px 0px 0px;
}

@media (max-width: 1000px) {
  .social__login {
    margin: 15px 0px 0px 0px;
  }

  .social__shell {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin: 0px 10px;
  }

  .social__shell__d {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 15px;
  }

  .social__signup {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (max-width: 950px) {
  .block__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .slider-block {
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
  }

  .feedback {
    width: none;
    margin: 0 auto;
  }

  .offers__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 31%;
            flex: 1 1 31%;
  }

  .footer__row {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .logo__conteiner {
    height: auto;
  }
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: #3a5362;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #3a5362;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .menu__main {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #4e85a7;
    padding: 40px 10px 20px 10px;
  }

  .menu__main.active {
    top: 0;
  }

  .menu__list {
    display: block;
  }

  .menu__list li {
    margin: 0px 0px 25px 0px;
    text-align: center;
  }

  .menu__link {
    font-size: 30px;
    color: #fff;
  }

  .info__shell {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 0px 20px;
  }

  .info__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 610px) {
  .social__row p {
    margin: 0px 0px 0px 5px;
    font-size: 18px;
  }

  .social__button {
    font-size: 18px;
  }

  .social__shell__d {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 0px 0px 10px 0px;
  }

  .social__media {
    text-align: center;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 600px) {
  ._container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .slider-block {
    padding: 40px 0px 10px 0px;
  }
}

@media (max-width: 500px) {
  .social__collumn form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .social__site {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    width: 100%;
    margin: 0px 0px 15px 0px;
  }

  .social__mail {
    margin: 0px 0px 15px 0px;
  }
}

@media (max-width: 470px) {
  .feedback {
    padding: 0px 10px;
  }

  .feedback__content form,
  .choose__c form {
    margin: 0px 10px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .feedback__container {
    max-height: none;
    height: 380px;
  }

  .feedback__address {
    width: 280px;
  }

  .feedback__select {
    width: 100%;
  }

  .feedback__button {
    margin: 15px 0px 10px 0px;
  }

  .feedback__tab {
    padding: 15px 20px;
    margin: 0;
  }

  .feedback__tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 10px 0px 0px 0px;
  }

  .choose {
    padding: 20px 25px;
  }

  .slider__title,
  .slider__info p {
    line-height: 25px;
  }
}

@media (max-width: 400px) {
  .offers__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}